@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-darkBrown;
}
.clip-hexagon-bottom {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.image-cyan-edge {
  background: linear-gradient(260deg, #8de1f0cc 100%, #b8ced8 50%);
  display: inline-block;
  outline: 4px solid rgba(141, 225, 240, 0.8); /* Cyan edge */
  outline-offset: -4px; /* Ensures the outline is inside the wrapper */
  border-radius: 100px;
}