@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-darkBrown;
}
/* Clip path for the full hexagon (aligned with the image) */
.clip-full-hexagon {
  clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%);
}

/* Clip path for the bottom hexagon (for the image) */
.clip-hexagon-bottom {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

/* Background color for the full hexagon */
.bg-cyan-500 {
  background: linear-gradient(260deg, #a0e2eecc 100%, #e2f1f8 50%);
  display: inline-block;
  outline: 4px solid rgba(141, 225, 240, 0.8); 
  outline-offset: -4px; 
  border-radius: 100px;}