@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-darkBrown;
}
.clip-full-hexagon {
  clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 80%, 50% 100%, 0 80%);
}

.clip-hexagon-bottom {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.bg-cyan-500 {
  background: linear-gradient(260deg, #f0b905cc 5%, #64c5d6 100%);
  display: inline-block;
  outline-offset: -4px; 
  border-radius: 100px;
}